@{
    ViewData["Title"] = "Comment";
}
<link rel="stylesheet" href="~/css/commentreplyview.css" asp-append-version="true" />
@model Budget_CoolBooks.ViewModels.CommentViewModel


<div class="comment-section">
    <form method="post" asp-controller="Comment" asp-action="AddComment">
        <div class="mb-3" id="comment-box">
            <label for="commentText" class="form-label"><h5>Leave a comment</h5></label>
            <textarea class="form-control" rows="6" name="commentText" required></textarea>
        </div>
        <input type="hidden" name="reviewId" value="@Model.Review.Id">
        <input type="hidden" name="bookId" value="@Model.BookId">
        <input type="hidden" name="redirect" value="@Model.redirect">
        <button input="submit"  class="btn btn-primary btn sm">Publish</button>
    </form>
    

    <br /><hr /><br />
    <h5>@Model.Review.Title</h5>
    <p><em> @Model.Review.Text</em></p>
</div>
