@{
    Layout = "_Layout";
}
@model Budget_CoolBooks.ViewModels.ReviewcardViewModel
<partial name="ProfileNavBar" />
<br />
<h2>Comments</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var comment in Model.ReviewComment)
            {
                <tr>
                    <td>@comment.Text</td>
                    <td>@comment.Created</td>
                    <td>
                    </td>
                    <td>
                        <form method="post" asp-controller="Comment" asp-action="Delete">
                            <button type="submit" class="btn btn-primary" name="commentId" value="@comment.Id">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-controller="" asp-action="">
                            <button type="submit" class="btn btn-primary" name="CommentId" value="@comment.Id">Edit</button>
                        </form>
                    </td>
                </tr>
            }
        
        
            @foreach (var reply in Model.ReviewReplies)
            {
                <tr>
                    <th scope="row">@reply.Id</th>
                    @*<td>@comment.Review.Id</td>*@
                    <td>@reply.Text</td>
                    <td>@reply.Created</td>
                    <td>
                    </td>
                    <td>
                        <form method="post" asp-controller="Comment" asp-action="DeleteReply">
                            <button type="submit" class="btn btn-primary" name="replyId" value="@reply.Id">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-controller="" asp-action="">
                            <button type="submit" class="btn btn-primary" name="replyId" value="@reply.Id">Edit</button>
                        </form>
                    </td>
                </tr>
            }
        

    </tbody>
</table>
}