@{
    ViewData["Title"] = "Bookcard";
}
<!-- CSS -->
<link rel="stylesheet" href="~/css/bookcard.css" asp-append-version="true" />
<!-- Model -->
@model Budget_CoolBooks.ViewModels.BookcardViewModel
<!-- View -->
<div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
        <!-- Title -->
        <h2 class="card-title">@Model.BookTitle</h2>
        <!-- Author/s-->
        @foreach (var author in Model.Authors)
        {
            <h4 class="card-text" style="padding-bottom: 3%;">
                by @author.Firstname @author.Lastname
            </h4>
        }
        <div class="col-md-4" style="margin-bottom: auto; margin-top: auto;">
            <!-- Img -->
            <img src="@Model.ImgPath" class="img-fluid rounded-start" alt="" style="margin-left: 5%;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <!-- Description -->
                <p class="cardtext">@Model.BookDescription</p>
            </div>
            <!-- Review -->
        </div>
        <!-- Average & statiscics -->
        @if (Model.IsNotReviewed != "yes")
        {
            <div style="width: 150%;">
                <partial name="_AveragePartial" />
            </div>
        }
        <!-- Review button -->
        <div class="Review">
            <a asp-controller="Review" asp-action="Create" asp-route-id="@Model.BookId">
                <button class="btn btn-primary btn sm">Review</button>
            </a>
        </div>
    </div>
</div>
<!-- Top review -->
<div>
    @if (Model.IsNotReviewed != "yes")
    {
        <partial name="_ReviewPartial" />
    }
    <!-- Be the first to review text -->
    else
    {
        <div class="card">
            <div class="cardinfo">
                <h4 class="cardinfo">Be the first to review this book!</h4>
            </div>
        </div>
    }
</div>