@{
    ViewData["Title"] = "Bookcard";
}
<!-- CSS -->
<link rel="stylesheet" href="~/css/bookcard.css" asp-append-version="true" />
<!-- Model -->
@model Budget_CoolBooks.ViewModels.BookcardViewModel
<!-- View -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <!-- Title -->
        <h2 class="card-title">@Model.BookTitle</h2>
        <!-- Author -->
        @foreach (var author in Model.Authors)
        {
            <h4 class="card-text" style="padding-bottom: 3%;">
                by @author.Firstname @author.Lastname
            </h4>
        }
       
        <div class="col-md-4" style="margin-bottom: auto; margin-top: auto;">
            <!-- Img -->
            <img src="@Model.ImgPath" class="img-fluid rounded-start" alt="" style="margin-left: 2%;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <!-- Description -->
                <p class="card-text">@Model.BookDescription</p>
            </div>
        </div>
        <div class="col-md-4" style="margin-bottom: auto; margin-top: auto;">
            <!-- Rating -->
            <!-- 1-3 = ratingBAD class, 3-5 = ratingGOOD class! -->
            <div class="card-text"><div class="text-body-secondary"><p class="ratingBAD">Rating: 1/5</p></div></div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <!-- Review -->
                <h6 class="card-text">Review</h6>
            </div>
        </div>
    </div>
</div>
<div>
<partial name="_AveragePartial" />
</div>
<div>
    <partial name="_ReviewPartial" />
</div>