@{
    ViewData["Title"] = "Bookcard";
}
<!-- CSS -->
<link rel="stylesheet" href="~/css/bookcard.css" asp-append-version="true" />
<!-- Model -->
@model Budget_CoolBooks.ViewModels.BookcardViewModel
<!-- View -->
<div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
        <!-- Title -->
        <h2 class="card-title">@Model.BookTitle</h2>
        <!-- Author -->
        @foreach (var author in Model.Authors)
        {
            <h4 class="card-text" style="padding-bottom: 3%;">
                by @author.Firstname @author.Lastname
            </h4>
        }
        <div class="col-md-4" style="margin-bottom: auto; margin-top: auto;">
            <!-- Img -->
            <img src="@Model.ImgPath" class="img-fluid rounded-start" alt="" style="margin-left: 2%;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <!-- Description -->
                <p class="cardtext">@Model.BookDescription</p>
            </div>
            <!-- Review -->
        </div>
        <!-- Average -->
        <div style="width: 150%;">
            <partial name="_AveragePartial" />
        </div>
        <!-- Review button -->
        <div>
            <a class="review">Review</a>
        </div>
    </div>
</div>
<!-- Top review -->
<div>
    <partial name="_ReviewPartial" />
</div>