@{
    Layout = "/Views/Shared/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin - Books";
}
@model Budget_CoolBooks.ViewModels.AdminBooksViewModel
<link rel="stylesheet" href="~/css/adminview.css" asp-append-version="true" />

    <div class="">
    <a asp-action="Create" class="btn btn-success float-end me-3">
            <i class="fa-solid fa-plus me-2"></i>Create new book
        </a>
        <h1 class="fs-2 text-black">Books</h1>
    </div>

    <table class="table table-striped caption-top">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Added by
                </th>
                <th> Setting</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>
                        @book.Title
                    </td>
                    <td>
                        @*@book.Author.Firstname @book.Author.Lastname*@
                </td>
                    <td>
                    @if(@book.user != null)
                    {
                        @book.user.UserName
                    }
                    else
                    {
                        <p><em>Not available</em></p>
                    }
                    
                </td>
                    <td>
                        <div class="admin-settings">
                            <a asp-controller="AdminBook" asp-action="Edit" asp-route-id="@book.Id" 
                                class="btn btn-sm btn-outline-primary me-2">
                                Edit
                            </a>

                            <form method="post" asp-controller="AdminBook" asp-action="Delete">
                                <input type="hidden" name="id" value="@book.Id">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                        </div>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
