@{
}
@model Budget_CoolBooks.ViewModels.BookcardViewModel

<div class="card">
    <h1>@Model.BookTitle</h1>
    <div class="infobox">
        <h2>Author:  @Model.AuthorFirstname @Model.AuthorLastname</h2>

        <h2>Description:</h2>
        <h4>
            @Model.BookDescription
        </h4>
    </div>
    <!-- Imagepath -->
    <img src="@Model.ImgPath" alt="" style="width: 15%; margin-right: auto; margin-left: auto;">
    <div class="infobox">
        <!-- Rating -->
        <h2><p class="ratingBAD">Rating: "1 / 5"</p></h2>
        <!-- Form or link to a  "Submit / Update / Delete" review page-->
        <h2><a class="review">(if)Submit / Update / Delete" Review</a></h2>
    </div>
</div>