@{
    ViewData["Title"] = "Bookcard";
}
<link rel="stylesheet" href="~/css/bookcard.css" asp-append-version="true" />
@model Budget_CoolBooks.ViewModels.BookcardViewModel
<div class="card">
    <h1>@Model.BookTitle;</h1>
    <div class="infobox">
        <!-- Author -->
        <h2>Author:</h2>
        <h2 style="text-decoration:underline;">
            @{
                @Model.AuthorFirstname
                ;
            }
             
            @{
                @Model.AuthorLastname
                ;
            }
        </h2> 
    </div>
    <!-- Imagepath -->
    <img src="@Model.ImgPath" alt="" style="width: 25%; margin-right: auto; margin-left: auto; padding: 5%;">
    <!-- Description -->
    <h4 style="padding-left: 5%; padding-right: 5%;">
        @{
            @Model.BookDescription
            ;
        }
    </h4>
    <div class="infobox">
        <!-- Rating -->
        <h2><p class="ratingBAD">Rating: "1 / 5"</p></h2>
        <!-- Form or link to a  "Submit / Update / Delete" review page-->
        <h2><a href="#" class="review">(if)Submit / Update / Delete" Review</a></h2>
    </div>
</div>