@{
    ViewData["Title"] = "Feature Books";
}
<link rel="stylesheet" href="~/css/homeindex.css" asp-append-version="true" />
@model Budget_CoolBooks.ViewModels.HomeViewModel
@{
    int i = 0;
}
<div id="featureBooks" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#featureBooks" data-slide-to="0" class="active"></li>
        <li data-target="#featureBooks" data-slide-to="1"></li>
        <li data-target="#featureBooks" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        @foreach (var item in Model.Books)
        {
            i++;
            var active = i == 1 ? "active" : "";
            <div class="carousel-item @active">
                <img class="d-block w-100" src="@item.Imagepath" alt="@item.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.Title</h5>
                    <p>@item.Description</p>
                </div>
            </div>
            @if (i == 3)
            {
                break;
            }
        }
    </div>
    <a class="carousel-control-prev" href="#featureBooks" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#featureBooks" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>








