@if (Model.OriginalSearchString != null)
{
    ViewData["Title"] = "Search result";
}
else { ViewData["Title"] = "All Books"; }

@model Budget_CoolBooks.ViewModels.SearchViewModel
<link rel="stylesheet" href="~/css/bookview.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
@*<link rel="stylesheet" href="~/css/rating.css" asp-append-version="true" />*@

<!-- FILTERS AND SORTING -->
@if (Model.SearchActive)
{
    <div class="sorting-holder">
        @if (Model.OriginalSearchString != null)
        {
            <h2 class="title-search">Search Results</h2>
        }
        else {<h2 class="title-search">All Books</h2>}
    </div>
    <hr />
    <div class="sorting-holder">
    <h6 class="title-search">Filters</h6>
    </div>
    <div class="sorting-holder">
        
        <!------------------------- FILTER BY AUTHOR -------------------------->
        <form method="post" asp-controller="Home" asp-action="FilterSearch">
            <select class="form-select" onchange="this.form.submit()" aria-label="Filter"
                    name="authorId" id="filter-dropdown">
                <option selected>Authors</option>
                @{
                int i = 0;
                @foreach(var author in Model.SearchAuthors)
                {
                    <option value="@Model.SearchAuthors[i].Id">@Model.SearchAuthors[i].Firstname @Model.SearchAuthors[i].Lastname</option>
                    i++;
                }
                }
            </select>
            <input type="hidden" name="searchString" value="@Model.OriginalSearchString">
        </form>
        <!--------------------------------------------------------------------->

        <!------------------------- FILTER BY GENRE --------------------------->
        <form method="post" asp-controller="Home" asp-action="FilterSearch">
            <select class="form-select" onchange="this.form.submit()" aria-label="Filter"
                    name="genreId" id="filter-dropdown">
                <option selected>Genres</option>
                @{
                    int j = 0;
                    @foreach (var genre in Model.SearchGenres)
                    {
                        <option value="@Model.SearchGenres[j].Id">@Model.SearchGenres[j].Name</option>
                        j++;
                    }
                }
            </select>
            <input type="hidden" name="searchString" value="@Model.OriginalSearchString">
        </form>
        <!--------------------------------------------------------------------->

        <!----- SORT BY ALPHABETICAL, HIGHEST RATED OR NEWEST ADDED ----------->
        <form method="post" asp-controller="Home" asp-action="SortSearch">
            <select class="form-select" onchange="this.form.submit()" aria-label="Filter"
                    name="SortInput" id="filter-dropdown">
                <option selected>Sort by</option>
                <option value="0">Title Descending</option>
                <option value="1">Title Ascending</option>
                <option value="2">Highest Rated</option>
                <option value="3">Newest Added</option>
            </select>
            <input type="hidden" name="search" value="@Model.OriginalSearchString">
        </form>
    </div>
    <hr />

}

<!-- BOOKINFO -->
@if (Model.SearchActive)
{

    <div class="row row-cols-1 row-cols-md-5 g-4">

        @foreach (var book in Model.Books)
        {
            string shortenedDesc = null;
            @if (book.Description.Length > 100)
            {
                shortenedDesc = book.Description.Substring(0, 100) + "...";
            }

            <div class="col">
                <div class="card h-100" id="book-card">
                    <img src="@book.Imagepath" class="card-img-top">
                    <div class="ratingstar">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (Model.RatingPerBook[book.Title] < i + 1)
                            {
                                <span class="fa fa-star star-inactive mx-1"></span>
                            }
                            else
                            {
                                <span class="fa fa-star star-active mx-1"></span>
                            }
                        }
                        
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@shortenedDesc</p>
                    </div>

                    <div class="mb-3" id="button-details">
                        <form method="post" asp-controller="Book" asp-action="BookDetails">
                            <input type="hidden" name="id" value="@book.Id">
                            <button input="submit" class="btn btn-primary btn sm">Details</button>
                        </form>
                    </div>

                    <div class="card-footer">
                        <small class="text-body-secondary">Created: @book.Created.ToString("yy-MM-dd")</small>
                    </div>
                </div>
            </div>
        }
    </div>
}