<link rel="stylesheet" href="~/css/rating.css" asp-append-version="true" />
<div class="card" style="max-width: 650px;">
    <div class="cardinfo">
        <div>
            <!-- Username -->
            <h2>@Model.ReviewUser</h2>
            <!-- Rating -->
            @if (Model.ReviewRating < 3)
            {
                <p class="ratingBAD">@Model.ReviewRating</p>
            }
            else
            {
                <p class="ratingGOOD">@Model.ReviewRating</p>
            }
        </div>
    </div>
    <!-- Review text -->
    <h3>@Model.ReviewTitle</h3>
    <div>
        <p class="cardtext">@Model.ReviewText</p>
    </div>
    <!-- Like Dislike -->
    <div class="LikeDislike">
        <div class="LikeDislike" style="float: right;">
            <!-- Like -->
            <a style="text-align: right;"><img src="https://i.imgur.com/mHSQOaX.png"></a>
            @if (@Model.ReviewText != null)
            {
                <p style="text-align: left;">@Model.ReviewText</p>
            }
            else
            {
                <p style="text-align: left;">0</p>
            }
        </div>
        <div class="LikeDislike" style="float: left;">
            <!-- Dislike -->
            <a style="text-align: right;"><img src="https://i.imgur.com/bFBO3J7.png"></a>
            @if (@Model.ReviewText != null)
            {
                <p style="text-align: left;">@Model.ReviewText</p>
            }
            else
            {
                <p style="text-align: left;">0</p>
            }
        </div>  
        <a style="color: red;">Flag</a>
    </div>
    <!-- Date created -->
    <div>
        <small style="color: white; text-decoration: underline;">@Model.ReviewCreated</small>
    </div>
</div>