<link rel="stylesheet" href="~/css/rating.css" asp-append-version="true" />

<div class="card" style="max-width: 650px; padding-bottom: 0; padding-top: 1%;">
    <div class="cardinfo">
        <!-- Username -->
        <div style="display: inline-flex; margin-right: auto; margin-left: auto;">
            <h2>@Model.ReviewUser.UserName</h2>
            <img src="~/images/member.png" style="width: 50px; height: 50px; margin-left: 1%;">
        </div>
            <!-- Rating in stars -->
         <div>
            @for (int i = 0; i < 5; i++)
            {
                if (Math.Round(Model.ReviewRating, 0) < i + 1)
                {
                    <span class="fa fa-star star-inactive mx-1"></span>
                }
                else
                {
                    <span class="fa fa-star star-active mx-1"></span>
                }
            }
         </div>
    </div>
    <!-- Review text -->
    <h3 style="text-decoration: underline; margin-top: 2%;">@Model.ReviewTitle</h3>
    <div>
        <p class="cardtext">@Model.ReviewText</p>
    </div>
    <!-- Like Dislike -->
    <div class="LikeDislike">
        <div class="LikeDislike" style="justify-items: right;">
            <!-- Like -->
            @if (@Model.ReviewText != null)
            {
                <p style="text-align: left;">@Model.Like</p>
            }
            else
            {
                <p style="text-align: left;">0</p>
            }
            <a style="text-align: right;"><img src="https://i.imgur.com/mHSQOaX.png"></a>
        </div>
        <div class="LikeDislike">
            <!-- Dislike -->
            <a style="text-align: right;"><img src="https://i.imgur.com/bFBO3J7.png"></a>
            @if (@Model.ReviewText != null)
            {
                <p style="text-align: left;">@Model.Dislike</p>
            }
            else
            {
                <p style="text-align: left;">0</p>
            }
        </div>  
        <form method="post" asp-controller="User" asp-action="FlagReview" style="margin-top: auto; margin-bottom: auto; margin-left: 1%;">
            <input type="hidden" name="reviewId" value="@Model.ReviewID">
            <input type="hidden" name="id" value="@Model.BookId">
            <button input="submit"><img src="~/images/flag.png" style="width: 25px; height: 25px;"></button>
        </form>
    </div>
    <!-- Flag -->
    <div style="margin: 2%;">
            
    </div>
    <!-- Date created -->
    <div>
        <small style="color: white; text-decoration: underline; margin-right: auto; margin-left: auto;">@Model.ReviewCreated</small>
    </div>
</div>


