﻿@{
    Layout = "/Views/Shared/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin - Users";
}
@model Budget_CoolBooks.ViewModels.AdminUserViewModel
@inject UserManager<User> UserManager
<link rel="stylesheet" href="~/css/adminview.css" asp-append-version="true" />

<div>
    <h1 class="fs-2 text-black">Users</h1>
</div>

<table class="table table-striped caption-top">
    <thead>
        <tr>
            <th>
                <a asp-controller="AdminUser" asp-action="SortByName" class="d-block link-dark text-decoration-none dropdown-toggle">
                    Username
                </a>
            </th>
            <th>
                <form method="Get" asp-controller="AdminUser" asp-action="SortByRoles">
                    <select class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdown-roles" onchange="this.form.submit()" name="roleChoice">
                        <option selected>Role</option>
                                <option value="1">All</option>
                                <option value="2">Admin</option>
                                <option value="3">Moderator</option>
                                <option value="4">Members</option>
                        </select>
                </form>
            </th>
            <th>
                 <a asp-controller="AdminUser" asp-action="SortByFlags" class="d-block link-dark text-decoration-none dropdown-toggle">
                    Flags
                </a>
            </th>
            <th>
                Promote
            </th>
            <th>
                Demote
            </th>
            <th>
                Setting
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    <a asp-asp-controller="AdminUser" asp-action="AuditUser" asp-route-id="@user.Id">
                        @user.UserName
                    </a>
                </td>
                <td>
                   @{
                        var roles = await UserManager.GetRolesAsync(user);
                        <em> @string.Join(", ", roles) </em>
                    }
                </td>
                <td>
                    @user.TotalFlags
                </td>
                <td>
                    <div class="admin-settings">
                        @if (!await UserManager.IsInRoleAsync(user, "Admin") && await UserManager.IsInRoleAsync(user, "Moderator"))
                        {
                            <form method="post" asp-controller="AdminUser" asp-action="PromoteToAdmin">
                                <input type="hidden" name="id" value="@user.Id">
                                <button type="submit" class="btn btn-sm btn-outline-primary">Promote to Admin</button>
                            </form>
                        }
                        @if (roles.Count < 1 && !await UserManager.IsInRoleAsync(user, "Admin"))
                        {
                            <form method="post" asp-controller="AdminUser" asp-action="PromoteToModerator">
                                <input type="hidden" name="id" value="@user.Id">
                                <button type="submit" class="btn btn-sm btn-outline-primary">Promote to Moderator</button>
                            </form>
                        }
                    </div>
                </td>
                <td>
                        @if (await UserManager.IsInRoleAsync(user, "Moderator"))
                        {
                            <form method="post" asp-controller="AdminUser" asp-action="Demote">
                                <input type="hidden" name="id" value="@user.Id">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Demote to member</button>
                            </form>
                        }   
                </td>
                <td>
                    <a asp-asp-controller="AdminUser" asp-action="Delete" asp-route-id="@user.Id">
                        <img src="~/images/delete.svg" alt="A thrashbin">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>