@{
    Layout = "_Layout";
    //ViewData["Title"] = "Reviews";
}
@model Budget_CoolBooks.ViewModels.BookcardViewModel

<link rel="stylesheet" href="~/css/rating.css" asp-append-version="true" />
@{
    int j = 0;
}
@inject UserManager<User> UserManager

@foreach (var rating in Model.AllFullReviews)
{
    if (rating != null)
    {
    <div class="cardreviews" style="max-width: 650px; padding-bottom: 0; padding-top: 1%;">
        <div class="cardinfo">
            <!-- Username -->
            <div style="display: inline-flex; margin-right: auto; margin-left: auto;">
                <h2>@if (rating != null)
                    {
                        @rating.User.UserName
                    }
                </h2>
                <img src="~/images/member.png" style="width: 50px; height: 50px; margin-left: 1%;">
            </div>
            <h5>Reviewing @rating.Book.Title</h5>
            <!-- Rating in stars -->
            <div>
                @for (int i = 0; i < 5; i++)
                {
                    if (Math.Round(rating.Rating) < i + 1)
                    {
                        <span class="fa fa-star star-inactive mx-1"></span>
                    }
                    else
                    {
                        <span class="fa fa-star star-active mx-1"></span>
                    }
                }
            </div>
        </div>
        <!-- Review text -->
        <h3 style="text-decoration: underline; margin-top: 2%;">@rating.Title</h3>
        <div>
            <p class="cardtext">@rating.Text</p>
        </div>
        <!-- Like Dislike -->
        <div class="LikeDislike">
            <!-- Comment -->
            <form method="post" asp-controller="Comment" asp-action="index" style="margin-top: auto; margin-bottom: auto; margin-right: 1%;">
                <input type="hidden" name="reviewId" value="@rating.Id">
                <input type="hidden" name="bookId" value="@rating.Book.Id">
                <button input="submit"><img src="~/images/comment.png" style="width: 25px; height: 25px;"></button>
            </form>
            <!-- Like -->
            <div class="LikeDislike" style="justify-items: right;">
                <form method="post" asp-controller="User" asp-action="LikeReview">
                    <input type="hidden" name="reviewId" value="@rating.Id" />
                    <input type="hidden" name="id" value="@rating.Book.Id" />
                    <button type="submit" name="like" style="border: none; background-color: transparent;"><img src="https://i.imgur.com/mHSQOaX.png"></button>
                </form>
                @if (@rating.Text != null)
                {
                    <p style="text-align: left;">@rating.Like</p>
                }
                else
                {
                    <p style="text-align: left;">0</p>
                }
            </div>
            <!-- Dislike -->
            <div class="LikeDislike">
                <form method="post" asp-controller="User" asp-action="DislikeReview">
                    <input type="hidden" name="reviewId" value="@rating.Id" />
                    <input type="hidden" name="id" value="@rating.Book.Id" />
                    <button type="submit" name="dislike" style="border: none; background-color: transparent;"><img src="https://i.imgur.com/bFBO3J7.png"></button>
                </form>
                @if (@rating.Text != null)
                {
                    <p style="text-align: left;">@rating.Dislike</p>
                }
                else
                {
                    <p style="text-align: left;">0</p>
                }
            </div>

            <!-- Flag -->
            <form method="post" asp-controller="User" asp-action="FlagReview" style="margin-top: auto; margin-bottom: auto; margin-left: 1%;">
                <input type="hidden" name="reviewId" value="@rating.Id">
                <input type="hidden" name="id" value="@rating.Book.Id">
                <button input="submit"><img src="~/images/flag.png" style="width: 25px; height: 25px;"></button>
            </form>
            @if (Model.CurrentUserId == rating.User.Id)
            {
                <form method="get" asp-controller="Review" asp-action="Edit">
                    <input type="hidden" name="reviewId" value="@rating.Id">
                    <button type="submit" class="btn btn-sm btn-outline-warning">Edit</button>
                </form>
                <form method="post" asp-controller="Review" asp-action="Delete">
                    <input type="hidden" name="reviewId" value="@rating.Id">
                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
            }
        </div>
        <!-- Date created -->
        <div>
            <small style="color: white; text-decoration: underline; margin-right: auto; margin-left: auto;">@rating.Created</small>
        </div>
        <div>
            <p>Comments:</p>
            <!-- Comments -->
            @{
                int c = 0;
                foreach (var comments in @Model.CommentsList)
                {
                    <!-- Sort to reviews -->
                    if (comments.Review.Id == @rating.Id)
                    {
                        <div class="commentbox">
                            <div style="display: inline-flex; margin: auto;">
                                <!-- Username && generic pic -->
                                <h4>@comments.User.UserName</h4>
                                <img src="~/images/member.png" style="width: 30px; height: 30px;">
                            </div>
                            <h5>Commenting on @rating.User.UserName</h5>
                            <!-- Comment text -->
                            <p>@comments.Text</p>
                            <div style="display: inline-flex; width: 80%;">
                                <!-- Reply -->
                                <form method="post" asp-controller="Comment" asp-action="ReplyIndex">
                                    <input type="hidden" name="commentId" value="@comments.Id">
                                    <input type="hidden" name="bookId" value="@rating.Book.Id">
                                    <button input="submit"><img src="~/images/comment.png" style="width: 15px; height: 15px;"></button>
                                </form>
                                <!-- Date created -->
                                <small style="margin: auto;">@comments.Created</small>
                                <!-- Flag comment -->
                                <form method="post" asp-controller="User" asp-action="FlagComment" style="margin-top: auto; margin-bottom: auto; margin-left: 1%;">
                                    <input type="hidden" name="commentId" value="@comments.Id">
                                    <input type="hidden" name="id" value="@rating.Book.Id">
                                    <button input="submit"><img src="~/images/flag.png" style="width: 25px; height: 25px;"></button>
                                </form>

                                @if (@Model.CurrentUserId == comments.User.Id)
                                {
                                    <form method="get" asp-controller="Comment" asp-action="EditComment">
                                        <input type="hidden" name="commentId" value="@comments.Id">
                                        <input type="hidden" name="bookId" value="@rating.Book.Id">
                                        <button type="submit" class="btn btn-sm btn-outline-warning">Edit</button>
                                    </form>
                                    <form method="post" asp-controller="Comment" asp-action="DeleteComment">
                                        <input type="hidden" name="commentId" value="@comments.Id">
                                        <input type="hidden" name="bookId" value="@rating.Book.Id">
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                    </form>
                                }
                            </div>
                        </div>
                        <!-- Replys -->
                        int r = 0;
                        foreach (var replys in @Model.RepliesList)
                        {
                            <!-- Sort to Comments -->
                            if (@replys.Comment.Id == comments.Id)
                            {
                                <div class="replybox">
                                    <div style="display: inline-flex; margin: auto;">
                                        <!-- Username && generic pic -->
                                        <h4>@replys.User.UserName</h4>
                                        <img src="~/images/member.png" style="width: 30px; height: 30px;">
                                    </div>
                                    <h5>Responding to @comments.User.UserName</h5>
                                    <!-- Comment text -->
                                    <p>@replys.Text</p>
                                    <div style="display: inline-flex; width: 80%;">
                                        <!-- Date created -->
                                        <small style="margin: auto;">@replys.Created</small>
                                        <!-- Flag comment -->
                                        <form method="post" asp-controller="User" asp-action="FlagReply" style="margin-bottom: auto; margin-left: 1%;">
                                            <input type="hidden" name="replyId" value="@replys.Id">
                                            <input type="hidden" name="id" value="@rating.Book.Id">
                                            <button input="submit"><img src="~/images/flag.png" style="width: 25px; height: 25px;"></button>
                                        </form>
                                        @if (@Model.CurrentUserId == replys.User.Id)
                                        {
                                            <form method="get" asp-controller="Comment" asp-action="EditReply">
                                                <input type="hidden" name="replyId" value="@replys.Id">
                                                <input type="hidden" name="bookId" value="@rating.Book.Id">
                                                <button type="submit" class="btn btn-sm btn-outline-warning">Edit</button>
                                            </form>
                                            <form method="post" asp-controller="Comment" asp-action="DeleteReply">
                                                <input type="hidden" name="replyId" value="@replys.Id">
                                                <input type="hidden" name="bookId" value="@rating.Book.Id">
                                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                            </form>
                                        }
                                    </div>
                                </div>
                            }
                            r++;
                        }
                    }
                    c++;
                }
            }
        </div>
    </div>
    j++;
    }
}